{% extends 'base.html' %}
{% load static %}
{% block title%}Contact{% endblock %}
{% block content %}
<style>
    /* สไตล์สำหรับ dropdown menu */
    #myDropdown {
        width: 200px;
    }

    /* สไตล์สำหรับ dropdown menu ที่เปิดอยู่ */
    #myDropdown.open {
        display: block;
    }

    /* สไตล์สำหรับรายการตัวเลือกใน dropdown menu */
    #my
</style>
<div>
    <select id="myDropdown">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>
</div>

{% endblock %}