{% extends 'base.html' %}
{% load static %}
{% block title %} News & Blog {% endblock %}

{% block content %}
<h1 class="text-center"> News & Events </h1>

<div id="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                {% for blog in latest %}
                <div class="first-slot">
                    <div class="masonry-box post-media">
                        <img src="{{blog.image.url}} " alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="tech-category-01.html"
                                            title="">{{blog.category}}</a></span>
                                    <h4><a href="#" title="">{{blog.name}}</a></h4>
                                    <small><a href="#" title="">{{blog.created}}</a></small>
                                    <small><a href="tech-author.html" title="">{{blog.writer}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->
                {% endfor %}
            </div>
        </div>
    </div>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">บทความทั้งหมด <a href="#"><i class="fa fa-rss"></i></a></h4>
                        </div><!-- end blog-top -->

                        <div class="blog-list clearfix">
                            {% for blog in blogs%}
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{{blog.image.url}} " alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="#" title="">{{blog.name}}</a></h4>
                                    <p class="description">{{blog.description}}</p>
                                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html"
                                            title="">{{blog.category}}</a></small>
                                    <small><a href="#" title="">{{blog.created}}</a></small>
                                    <small><a href="tech-author.html" title="">{{blog.writer}}</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> {{blog.views}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">
                            {% endfor%}
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->
                    <hr class="invis">
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widget-title">บทความยอดนิยม</h2>
                            <div class="trend-videos">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{% static 'images/icon/tech_video_01.jpg'%}" alt=""
                                                class="img-fluid">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="#" title="">We prepared the best 10 laptop presentations for
                                                you</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{% static 'images/icon/tech_video_02.jpg'%}" alt=""
                                                class="img-fluid">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="#" title="">We are guests of ABC Design Studio - Vlog</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{% static 'images/icon/tech_video_03.jpg'%}" alt=""
                                                class="img-fluid">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="#" title="">Both blood pressure monitor and intelligent
                                                clock</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end videos -->
                        </div><!-- end widget -->
                        <hr class="invis">
                    </div><!-- end sidebar -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="widget">
                        <div class="footer-text text-left">
                            <a href="index.html"><img src="" alt="" class="img-fluid"></a>
                            <p>Tech Blog is a เทคโนโลยี blog, we sharing marketing, news and gadget articles.</p>
                            <div class="social">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
                                        class="fa fa-instagram"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i
                                        class="fa fa-pinterest"></i></a>
                            </div>
                            <hr class="invis">
                            <div class="newsletter-widget text-left">
                                <form class="form-inline">
                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </form>
                            </div><!-- end newsletter -->
                        </div><!-- end footer-text -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">หมวดหมู่</h2>
                        <div class="link-widget">
                            <ul>
                                {% for category in categories %}
                                <li><a href="#">{{category.name}} <span>(21)</span></a></li>
                                {% endfor %}
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Copyrights</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Advertising</a></li>
                                <li><a href="#">Write for us</a></li>
                                <li><a href="#">Trademark</a></li>
                                <li><a href="#">License & Help</a></li>
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <div class="copyright">&copy; Django Blogging | KongRuksiam</a>.</div>
                </div>
            </div>
        </div><!-- end container -->
    </footer><!-- end footer -->
    <div class="dmtop">Scroll to Top</div>

</div><!-- end wrapper -->
{% endblock %}