{% load static %}
<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4>ติดต่อเรา</h4>
                <p>ที่อยู่: 123 ถนน ตำบล เมือง จังหวัด รหัสไปรษณีย์</p>
                <p>โทรศัพท์: 012-345-6789</p>
                <p>Email: info@example.com</p>
            </div>
            <div class="col-md-6">
                <h4>เกี่ยวกับเรา</h4>
                <p>เราคือบริษัทที่ให้บริการด้านการออกแบบเว็บไซต์</p>
            </div>
        </div>
        <p class="text-center">สงวนลิขสิทธิ์ &copy; 2023 บริษัท ABC จำกัด</p>
    </div>
</footer>